/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 29, 2016, 10:16:45 AM
    Author     : joris
*/

html{
    height:100%;
}

body{
    height:100%;
    font-family:$font-family-sans-serif;
    background: transparent url("../images/footer_lodyas.png") repeat scroll 0% 0%;;//lighten($brand-primary,25%);;
}

.navbar{
    //background:rgba(0, 0, 0, 0) linear-gradient(0deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0;
    background:transparent;
    border-bottom:none;

    a{
        color:#aaa;
    }

    .navbar-toggler{
        background:rgba($brand-primary,1);
        padding:0.5rem;
        border:none;
        margin-left:10px;
        margin-top:10px;
        border-radius:1px;
        //border-right:1px solid darken($brand-primary,20%);
        //border-bottom:1px solid darken($brand-primary,20%);
        height:50px;
        width:50px;
        z-index:1000;

        i{
            font-size:1.2rem;
        }
    }

    .navbar-brand{
        color:lighten($brand-primary,0%);
        font-weight:100;
        font-size:2.6rem;
        margin-left:0.5rem;
        line-height:40px;
        padding:0px 0 2px 0;
        height:46px;
        vertical-algin:top;
    }
}

header{
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

.public-nav{
    background:$brand-primary;
    padding:0rem;

    .row{
        border-bottom:1px solid darken($brand-primary,5%);
        margin:0;
        padding:0.6rem 1rem;
    }

    .navbar-brand{
        color:#fff;
        font-weight:100;
        font-size:2.2rem;
        margin-left:0;
        line-height:1;
        padding:0.1em 0.5rem;
        border:4px solid #fff;
        text-transform:uppercase;
    }

    .navbar-nav li{
        float:left;

        a{
            color:#fff;
            font-weight:700;
            margin:0 20px 0 0;
            font-size:0.8rem;
            text-transform:uppercase;
        }
    }

    .form-inline{
        background: transparent;
        margin-left:0.4rem;
        padding:0rem;
        border:1px solid #fff;
        height:40px;
        margin:5px 0;

        .form-control{
            background: none;
            border:none;
        }
    }

    .btn{
        background: $brand-primary;
        padding:6px;
        margin-left:-4px;
        border:none;
        color:#fff;
    }

    i{
        vertical-align:middle;
    }
}

.jumbotron{
    border-radius:0;
    margin:0;
    color: white;
    text-shadow: #444 0 1px 1px;
    background:url("../images/ph/bg6.png") no-repeat center center / 100%;
    text-align:center;
    height: 600px;
    width:100%;
    top:0;
    position:fixed;
    z-index:-2;

    h1{
        margin-top:150px;
        text-shadow:none;
        text-transform:uppercase;
        font-weight:700;
        font-size:4rem;
        z-index:1;

        span{
            color:$brand-primary;
        }
    }

    p{
        font-size:1.7rem;
        font-weight:500;
        text-shadow:none;
    }
}

.home-section:first-of-type{
    margin-top: 600px;
}

.home-section{
    padding:0rem 0 0rem 0;
    z-index:50;
    position:relative;
    background:#ffe0b2;

    h2{
        line-height: 1.8rem;
        padding:0.7rem 0;
        text-align:center;
    }


    .exhibit-section-row{
         background:#fff;

        .exhibit-section-title{

        }
    }


    .section-title{
        font-size:1.3rem;
        font-weight:700;
        text-transform: uppercase;
        margin:1rem 0;

        span{
            padding:0.5rem;
        }
    }

    img{
        width:100%;
    }

    .top{
        padding-top:2rem;
    }

    .exhibit-columns{
        -moz-column-count: 3;
        -moz-column-gap: 0.05rem;
        border-top:1px solid #ffe0b2;
    }

    .card{
        border:none;
        margin-bottom:0;
        padding:2rem;
        margin-bottom:1px;

        .card-img{
            border-radius:0;
        }

        .card-block{
            padding:0;
            width:100%;

            hr{
                width:15px;
                border-color:$brand-primary;
                border-width: 4px;
                margin:0 0 10px 0;
            }

            .caption{
                margin:0;
            }
        }

        i{
            vertical-align: text-top;
            font-size:1em;
        }

        .card-img-overlay:hover{
            background:rgba($brand-primary,0.0);
        }

        .card-img-overlay{
            margin-top:0rem;
            padding:2rem;
            transition: background 0.2s ease 0s;
            width:100%;

            .overlay-text{
                position:absolute;
                bottom:2rem;
                left:2rem;
                padding:2rem;
            }

            h4{
                color:#fff;
                font-size:2.8rem;
                font-weight:bold;
                margin-bottom:1.5rem;
                max-width:90%;
            }

            hr{
                width:15px;
                border-color:$brand-primary;
                border-width: 4px;
                margin:0 0 10px 0;
            }

            .caption{
                margin:10px 0px 10px 0;

                span{
                    color:#fff;
                    padding:0.8rem;
                    border:none;
                    border-radius:1px;
                    font-size:1rem;
                    background:rgba($brand-primary,0.8);
                    text-transform:uppercase;
                }

                i{
                    vertical-align: text-top;
                    font-size:1em;
                }
            }
        }
    }

    .featured{

        h4{
            font-size:1.4rem;
            margin:1rem 0;
            font-weight:bold;
        }

        .overlay-text{
            padding:0rem;
        }

        .card-block{
            padding-top:1rem;
        }

        .description{
            margin:1rem 0;
            color:$gray;
        }

        .featured-tag{
            font-weight:400;
            letter-spacing: 1px;
            margin-bottom:5px;

            span{
                text-transform:uppercase;
                font-size:0.8rem;
                padding-bottom:0.2rem;
                border-bottom:4px solid $brand-primary;
            }
        }

        .caption{


            span{
                border:1px solid #ffe0b2;
                padding:0.8rem;
                text-transform:uppercase;
                font-size:0.8rem;
            }
        }
    }
}

.exhibit-section{
    .card{

    }
}

.project-section{

}

.showcase-section{
    background:#000;

    .exhibit-section-row{
        background:black;
        margin-bottom:3rem;
        h2{
            color:#fff;
        }
        border-bottom:1px solid #fff;
    }



    .card{
        border:none;
        background:transparent;
        margin-bottom:2.25rem;
        padding:0;

        .card-block{
            margin-top:10px;
            padding:0.3rem 0 1rem 0;
            background:transparent;

            h4{
                font-size:1rem;
                margin:0;
                font-weight:bold;
                color:#fff;
            }
        }
    }
}

.item-section{
    z-index:-3;
    padding-top:0rem;

    .image-row{
        overflow:hidden;
    }

    .openlayerszoom-images{
        background:transparent url("../images/footer_lodyas.png") repeat scroll 0% 0%;;//lighten($brand-primary,25%);
    }

    .ol-mouse-position {
        top: 8px;
        right: 8px;
        position: absolute
    }

    .ol-scale-line {
        background: #95b9e6;
        background: rgba(0, 60, 136, .3);
        border-radius: 4px;
        bottom: 8px;
        left: 8px;
        padding: 2px;
        position: absolute
    }

    .ol-scale-line-inner {
        border: 1px solid #eee;
        border-top: none;
        color: #eee;
        font-size: 10px;
        text-align: center;
        margin: 1px;
        will-change: contents, width
    }

    .ol-overlay-container {
        will-change: left, right, top, bottom
    }

    .ol-unsupported {
        display: none
    }

    .ol-viewport{
        z-index:0;
    }

    .ol-viewport .ol-unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

    }

    .ol-control {
        position: absolute;
        background-color: $brand-primary;
        background-color: rgba($brand-primary, .4);
        border-radius: 4px;
        padding: 2px;

        button{
            background-color: rgba(darken($brand-primary,5%), .9);
        }
    }

    .ol-control:hover {
        background-color: rgba($brand-primary, .6)
    }

    .ol-zoom {
        bottom: .5em;
        right: .5em;
        left:auto !important;
        top:auto;
    }

    .ol-rotate {
        display:none;
    }

    .ol-rotate.ol-hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity .25s linear, visibility 0s linear .25s
    }

    .ol-zoom-extent {
         display:none;
    }

    .ol-full-screen {
        right: .5em;
        bottom: 4.5em;
        top:auto;
    }

    .ol-overviewmap{
        right: .5em;
        left:auto;
        bottom:7em;
        top:auto
    }
}

.metadata-section{
    z-index:101;
    background:#fff3e0;
    position:relative;
    .content{
        background:#fff;
        padding:3rem;
    }
    h1{
        font-weight:700;
        text-transform:uppercase;
        margin-bottom:2.5rem;
    }

    .item-pagination li{
        list-style:none;display:inline;
    }
}

.simple-page-section, .exhibit-show-section{
    margin-top:170px;
    background:#fff3e0;
    z-index:101;
    position:relative;

    h3{
      font-weight:100;
      text-transform:uppercase;
      font-size: 1.5rem;
    }

    .cover{
      width: 100%;
      margin-bottom: 2rem;
    }

    .page{
        .top{
            background:lighten($brand-primary,37%);
            margin:0;
            height:auto;
            overflow:hidden;

            #simple-pages-breadcrumbs{
                //padding:0.70rem 0;
                margin:0;
                height:50px;

                span{
                    background:$brand-primary;
                    padding:16px;
                    line-height: 50px;
                }

                a{
                    color:#fff;
                    font-weight:bold;
                }
            }
        }

        .exhibit-item-caption{
          border-top:1px solid lighten($brand-primary,40%);
          padding-top:0.5rem;
        }

        .exhibit{
          clear:both;

          .image{
            float:left;
            padding-right:1rem;
          }
        }
    }

    .content{
        background:#fff;
        padding:3rem;

        h1{
            font-weight:700;
            text-transform:uppercase;
            margin-bottom:2.5rem;
        }
    }

    .nav{

        padding:1rem 0;
        margin-top:2rem;

        ul{
            margin:0;padding:0;

            li{
                list-style:none;
                font-weight:bold;
                padding:1rem 0 1rem 0;
                border-bottom:1px solid #ffe0b2;
            }

            li:first-child{
                border-top:1px solid #ffe0b2;
            }
        }
    }
}

footer{
    background:transparent url("../images/footer_lodyas.png") repeat scroll 0% 0%;;//lighten($brand-primary,25%);
    padding:3rem 0;
    color:white;

    h4{
        font-size:1.2rem;
        font-weight:bold;
        margin-bottom:1.3rem;
    }

    p{
        font-size:0.8rem;
    }

    img{
        width:100%;
        max-width:200px;
    }

    ul{
        li{
            list-style:none;
            font-weight:bold;
        }
    }

    a{
        color:#fff;
    }
}

@media (min-width: 544px) {
    .card-columns {
        -moz-column-count: 4;
        -moz-column-gap: 2.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}
